#!/usr/bin/env bash

# Your mashape identity key 
mashape_key=M2IxMGIwMTE0ODk0YzA2NDc3YzcwMjc0YTc1YWNkMzRmNGViNmIzMTU1YmQyMTI4ODEzYzE0NzMwYzQ3NGY4MQ==

# A list of commit messages being randomly picked every commit
commit_messages=(
    'Update Content'
    'Bug fix'
    'New Release'
)

# The likelihood of proceeding a commit everytime the script being run
# with 0 being impossible and 10 being certain
commit_likeliness=7
