# Your mashape identity key 
MASHAPE_KEY=

# Template html file
TEMP_FILE=template.html

# A list of random commit message
COMMIT_MESSAGE='Update Content
Bug fix
New Release
'

# Frequency for committing code
COMMIT_FREQUENCY=''
